<button mat-raised-button color="primary" routerLink="/addBanner">Add</button>
<h1>Banner</h1>
<p-table [value]="banner" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Image</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-banner>
      <tr>
          <td>{{ banner.title }}</td>
          <td>{{ banner.description }}</td>
          <td><img src="{{ banner.imagePath }}" width="100" height="100" alt="" srcset=""></td>
          <td><button mat-raised-button color="warn" (click)="deleteData(banner._id)">Delete</button></td>

      </tr>
  </ng-template>
</p-table>